.test-container{
    display: flex;
    scale: 1;
    align-items: left;
}
.border-container{
    border-radius: 20px;
    border: 2px solid rgb(233, 233, 233);
    width: 780px;
}
.title-container h2{
    font-family: serif;
    font-weight: normal;
    font-size: 28px;
    padding: 15px;
}
.list-elements li{
    font-size: 20px;
    font-family: serif;
    text-transform: capitalize;
}
.form-style{
    color: black;
}
.form-elements{
    padding-left: 10px;
}
.form-elements input{
    background-color: #fff;;
    border-radius: 20px;
    border: 2px solid rgb(233, 233, 233);
    padding: 10px;
    margin: 5px;
    color: black!important;
    font-size: 20px;
}
.form-elements label{
    background-color: #fff;;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    color: black!important;
    font-size: 20px;
    font-family: serif;
}
.form-elements button{
    background-color: #fff;;
    border-radius: 20px;
    border: 2px solid rgb(233, 233, 233);
    padding: 10px;
    margin: 5px;
    color: black!important;
    font-size: 20px;
}
.form-elements button:hover{
    background-color: rgb(161, 156, 156);;
    border-radius: 20px;
    border: 2px solid rgb(233, 233, 233);
    padding: 10px;
    margin: 5px;
    color: rgb(255, 253, 253)!important;
    cursor: pointer;
    font-size: 20px;
}
.dialog-style{
    z-index: 99;
}